{% extends "nonMainBase.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Проверить статью{% endblock %}

{% block nav %}
<li>
    <a href="/" class="nav-link">Главная</a>
</li>
<li>
    <a href="papers" class="nav-link">Статьи</a>
</li>
<li>
    <a href="personal" class="nav-link">Мои статьи</a>
</li>
<li>
    <a href="check" class="nav-link active">Проверить</a>
</li>
<li>
    <a href="about" class="nav-link">О проекте</a>
</li>
{% endblock %}

{% block processText %}
Выполняется проверка...
{% endblock %}

{% block bodyContent %}

<div class="row justify-content-center check-row">
    <div class="col-lg-8">
        <form align="center" id="checkForm" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.text|as_crispy_field }}
            </div>
            <button align="center" class="btn btn-success " id="formSend">Проверить</button>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="getCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"> API CODE </h4>
            </div>
            <div class="modal-body" id="getCode" style="overflow-x: scroll;">
                //ajax success content here.
            </div>
        </div>
    </div>
</div>
{% endblock %}

{%block modalBlock%}
<!-- Contact Form -->
<div class="modal fade contact-form-modal" id="captcha-form-modal" role="dialog" aria-label="Contact Form Modal"
     aria-hidden="true">
    <div class="modal-dialog contact-form-modal__dialog" role="document">
        <div class="modal-content contact-form-modal__content">

            <div class="row modal-body contact-form-modal__body justify-content-center">
                <form id="captcha-form" method="POST" align="center">
                    <div class="text-center">
                        <div class="col-lg-12">
                            <h3>Введите капчу</h3>
                            <img id="captcha-img">
                        </div>
                    </div>
                    <div class="text-center">
                        <input id="captcha-form__text" type="text"
                               value="">
                    </div>

                    <div class="text-center">
                        <input id="captcha-form__submit" type="submit" class="btn btn--lg btn--color"
                               value="Отправить">
                    </div>

                    <div id="contact-form__message" class="contact-form__message" role="alert"></div>

                    <input id="form-key" type="hidden" name="key"
                           value=""/>
                    <input
                            id="form-retpath" type="hidden" name="retpath"
                            value=""/>

                </form>
            </div>
        </div>
    </div>
</div> <!-- end contact form -->
{% endblock%}


{% block script %}
<script>
$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});

$('#captcha-form__submit').click(function(){
   showProgress();
   $.post(
        '/loadurls',
        {
            "state":"captcha",
            "code": $("#captcha-form__text").val(),
            "key":   $("#form-key").val(),
            "retpath":        $("#form-retpath").val(),
        },
        function(msg){
               hideProgress();
               if (msg["state"]="needCaptcha"){
                    setCaptcha(msg);
               }else{
                    window.location='/personal';
               }
        }
   )
   return false;
});

$('#checkForm').submit(function(){
    showProgress();
    $.post(
        '',
        $("#checkForm").serialize(),
        function(msg) { // получен ответ сервера
            $.post(
                '/loadurls',
                {
                    "state":"load"
                },
                function(msg){
                    hideProgress();
                    if (msg["state"]="needCaptcha"){
                        setCaptcha(msg);
                    }else{
                    window.location='/personal';
                    }
                }
            )
        }
    );
    return false;
});

function setCaptcha(msg){
  $("#captcha-img").attr("src",msg["captcha"]),
                        $("#captcha-form__text").val(""),
                        $("#form-key").val(msg["key"]),
                        $("#form-retpath").val(msg["retpath"]),
  $("#captcha-form-modal").modal('show');
}

function showProgress(){
    $('.process').css('display','block');
   	$('.process-text').css('display','block');
   	$('.process-mask').css('display','block');
}

function hideProgress(){
    $('.process').css('display','none');
   	$('.process-text').css('display','none');
   	$('.process-mask').css('display','none');
}

</script>
{% endblock %}