/*! Paste your custom styles here */

.alert{
    height: 48px;
    border-radius: 0;
    border: 1px solid transparent;
    background-color: #F8F8F8;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 12px;
    -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

a.nav-link:hover {
color: #FE5900;
}

.login-row {
	background-color: #fff;
	padding: 40px 40px;
	position: relative; }


@media only screen and (min-width: 576px) {
	.login-row  {
		display: -webkit-box;
		display: flex;
		flex-wrap: nowrap; }
}

@media only screen and (min-width: 992px) {
	.login-row {
		padding: 190px 20px 280px 40px; }
 }

@media (min-width: 1280px) {
    .login-row {
		-webkit-box-align: center;
		        align-items: center;
		margin-left: auto;
		padding: 120px 0px 350px 0px;
		} }

@media (min-width: 1600px) {
	.login-row {
		padding: 160px 0px 320px 0px; }
}

.register-row {
	background-color: #fff;
	padding: 40px 40px;
	position: relative; }


@media only screen and (min-width: 576px) {
	.register-row  {
		display: -webkit-box;
		display: flex;
		flex-wrap: nowrap; }
}

@media only screen and (min-width: 992px) {
	.register-row {
		padding: 60px 20px 150px 40px; }
 }

@media (min-width: 1280px) {
    .register-row {
		-webkit-box-align: center;
		        align-items: center;
		margin-left: auto;
		padding: 100px 0px 140px 0px;
		} }

@media (min-width: 1600px) {
	.register-row {
		padding: 60px 0px 180px 0px; }
}
.need-autherification {
	background-color: #fff;
	padding: 220px 40px;
	position: relative; }


@media only screen and (min-width: 576px) {
	.need-autherification  {
		display: -webkit-box;
		display: flex;
		flex-wrap: nowrap; }
}

@media only screen and (min-width: 992px) {
	.need-autherification {
		padding: 260px 20px 230px 40px; }
 }

@media (min-width: 1280px) {
    .need-autherification {
		-webkit-box-align: center;
		        align-items: center;
		margin-left: auto;
		padding: 260px 0px 230px 0px;
		} }

@media (min-width: 1600px) {
	.need-autherification {
		padding: 260px 0px 230px 0px; }
}