{% load static %}

<html lang="en">
<head>
    <title>
        {%block title%}
        {%endblock %}
    </title>

    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=DM+Sans:400,400i,500,700' rel='stylesheet'>

    <!-- Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>

    <style>
		{%block style%}
		{%endblock %}
    </style>
</head>

<body data-offset="60" data-target=".nav__holder" id="home" itemscope itemtype="http://schema.org/WebPage">

<div class="loader-mask">
    <div class="loader">
        "Loading..."
    </div>
</div>


<div class="process-mask">
    <div class="process">
        "Loading..."
    </div>
    <div class = "process-text">
        {% block processText %}
        {% endblock %}
    </div>
</div>
<!-- Header -->
<header class="nav nav--always-fixed" itemtype="http://schema.org/WPHeader" itemscope>

    <div class="{% block navStyle %}	{% endblock %}">
        <div class="container-fluid container-semi-fluid">
            <div class="flex-parent">

                <div class="nav__header clearfix">
                    <!-- Logo -->
                    <div class="logo-wrap local-scroll">
                        <a href="/" class="logo__url">
                            <img class="logo" src="{% static 'img/logo/logo.png' %}"
                                 srcset="{% static 'img/logo/logo.png' %} 1x, {% static 'img/logo/logo.png' %} 2x"
                                 alt="logo" itemtype="http://schema.org/Organization" itemscope>
                        </a>
                    </div>

                    <button type="button" class="nav__icon-toggle" id="nav__icon-toggle" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="nav__icon-toggle-bar"></span>
                        <span class="nav__icon-toggle-bar"></span>
                        <span class="nav__icon-toggle-bar"></span>
                    </button>
                </div> <!-- end nav-header -->

                <!-- Navbar -->
                <nav id="navbar-collapse" class="nav__wrap collapse navbar-collapse"
                     itemtype="http://schema.org/SiteNavigationElement" itemscope="itemscope">
                    <ul class="nav__menu local-scroll" id="onepage-nav">
                        {% block nav %}
                        {% endblock %}
                    </ul> <!-- end menu -->


                    <!-- Mobile Socials -->
                    <div class="nav__mobile-socials d-lg-none">
                        <div class="socials">
                                {% if user.is_authenticated %}
                                <a href="logout" class="nav-link"> Выход </a>
                                {% else %}
                                <a href="login" class="nav-link"> Вход </a>
                                {% endif %}

                        </div>
                    </div>

                </nav> <!-- end nav-wrap -->

                <!-- Socials -->
                <div class="nav__socials flex-child d-none d-lg-block">
                    <ul class="nav__menu local-scroll" id="onepage-nav2">
                        <li class="nav__dropdown">
                            {% if user.is_authenticated %}
                            <a href="" class="nav-link" aria-haspopup="true">{{user.username}}</a>
                            <i class="ui-arrow-down nav__dropdown-trigger" role="button" aria-haspopup="true"
                               aria-expanded="false"></i>
                            <ul class="nav__dropdown-menu">
                                <li>
                                    <a href="logout">
                                        <span class="nav__dropdown-menu-label">Выход</span>
                                    </a>
                                </li>
                            </ul>
                            {% else %}
                            <a href="login" class="nav-link">
                                Вход
                            </a>
                            {% endif %}

                        </li>
                    </ul>
                </div>

            </div> <!-- end flex-parent -->
        </div> <!-- end container -->

    </div>
</header> <!-- end navigation -->

<main class="main-wrap">
    {% block content %}

    {% endblock %}
</main> <!-- end main wrapper -->


<!-- jQuery Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/scripts.min.js' %}"></script>
{%block script%}

{%endblock %}

</body>
</html>