{% extends "nonMainBase.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Проверить статью{% endblock %}

{% block nav %}
<li>
    <a href="/" class="nav-link">Главная</a>
</li>
<li>
    <a href="papers" class="nav-link">Статьи</a>
</li>
<li>
    <a href="personal" class="nav-link">Мои статьи</a>
</li>
<li>
    <a href="check" class="nav-link active">Проверить</a>
</li>
<li>
    <a href="about" class="nav-link">О проекте</a>
</li>
{% endblock %}

{% block processText %}
Выполняется проверка...
{% endblock %}
{% block body_content %}

<div class="row justify-content-center check-row">
    <div class="col-lg-8">
        <form role="form" action="" method="post" align="center" onsubmit="submitform(this);return false;">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.text|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-success">Проверить</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
   function submitform(f) {
   	    $('.process').css('display','block');
   	    $('.process-text').css('display','block');
   	    $('.process-mask').css('display','block');
        f.submit();
   }
</script>
{% endblock %}