{% extends "nonMainBase.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Проверить статью{% endblock %}

{% block nav %}
<li>
    <a href="/" class="nav-link">Главная</a>
</li>
<li>
    <a href="papers" class="nav-link">Статьи</a>
</li>
<li>
    <a href="personal" class="nav-link">Мои статьи</a>
</li>
<li>
    <a href="check" class="nav-link active">Проверить</a>
</li>
<li>
    <a href="about" class="nav-link">О проекте</a>
</li>
{% endblock %}

{% block processText %}
Выполняется проверка...
{% endblock %}

{% block bodyContent %}

<div class="row justify-content-center check-row">
    <div class="col-lg-8">
        <form align="center" id="checkForm" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.text|as_crispy_field }}
            </div>
            <button align="center" class="btn btn-success " id="formSend">Проверить</button>
        </form>
    </div>
</div>
{% endblock %}

{%block modalBlock%}
<div class="modal fade" id="captcha-form-modal" >
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="row modal-body captcha-form-modal__body justify-content-center">
                <form id="captcha-form" method="POST" align="center">
                    <div class="text-center">
                        <div class="col-lg-12">
                            <h3>Введите капчу</h3>
                            <img id="captcha-img">
                        </div>
                    </div>
                    <div class="text-center">
                        <input id="captcha-form__text" type="text"
                               value="">
                    </div>

                    <div class="text-center">
                        <input id="captcha-form__submit" type="submit" class="btn btn--lg btn--color"
                               value="Отправить">
                    </div>

                    <input id="form-url" type="hidden" name="url"
                           value=""/>

                    <input id="form-retpath" type="hidden" name="retpath"
                           value=""/>

                    <input id="form-key" type="hidden" name="key"
                           value=""/>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}


{% block script %}
<script>

$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});

$('#captcha-form__submit').click(function(){
    showProgress();
    load({
        "state":"captcha",
        "code": $("#captcha-form__text").val(),
        "retpath":   $("#form-retpath").val(),
        "key":   $("#form-key").val(),
        "url":   $("#form-url").val()
    });
    return false;
});

$('#checkForm').submit(function(){
    showProgress();
    $.post(
        '',
        $("#checkForm").serialize(),
        function(msg) { // получен ответ сервера
            load({ "state":"load"  });
        }
    );
    return false;
});

function load(data){
    $.post(
        '/loadurls',
        data,
        function(msg){
            if (msg["state"]=="needCaptcha"){
                hideProgress();
                setCaptcha(msg);
            }else{
                window.location ='/processurls';
            }
        }
    );
}

function setCaptcha(msg){
    $("#captcha-img").attr("src",msg["captcha"]),
    $("#captcha-form__text").val(""),
    $("#form-url").val(msg["url"]),
    $("#form-key").val(msg["key"]),
    $("#form-retpath").val(msg["retpath"]),
    $("#captcha-form-modal").modal('show');
}


$('body').on('show.bs.modal', function () {
    $('.sticky-top').css('margin-left', '-=0px');
});
$('body').on('hidden.bs.modal', function () {
    $('.sticky-top').css('margin-left', 'auto');
});

</script>
{% endblock %}
