{% extends "nonMainBase.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Проверить статью{% endblock %}

{% block nav %}
<li>
    <a href="/" class="nav-link">Главная</a>
</li>
<li>
    <a href="personal" class="nav-link">Мои статьи</a>
</li>
<li>
    <a href="check" class="nav-link active">Проверить</a>
</li>
<li>
    <a href="about" class="nav-link">О проекте</a>
</li>
{% endblock %}

{% block body_content %}
{% if user.is_authenticated %}
<div class="row justify-content-center check-row">
    <div class="col-lg-8">
        <form role="form" action="" method="post" align="center">
            {% csrf_token %}
            <div class="form-group">
                {{ form.text|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-success">Проверить</button>
        </form>
    </div>
</div>

{% else %}
<div class="row justify-content-center need-autherification">
    <div class="col-lg-6">
        <div class="title-row text-center">
            <p class="section-description">Этот раздел доступен только авторизованным пользователям</p>
            <a href="login" ><button type="submit" class="btn btn-success"> Войти </button></a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}