{% extends "base.html" %}
{% load static %}

{%block title%}
    CheckPapers
{%endblock %}

{% block navStyle %}
    nav__holder nav--sticky nav--align-center
{% endblock %}

{%block head%}
 <!-- Css -->
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock %}


{% block nav %}
                        <li>
                            <a href="/" class="nav-link active">Главная</a>
                        </li>
                        <li>
                            <a href="papers" class="nav-link">Статьи</a>
                        </li>
                        <li>
                            <a href="personal" class="nav-link">Мои статьи</a>
                        </li>
                        <li>
                            <a href="check" class="nav-link">Проверить</a>
                        </li>
                        <li>
                            <a href="about" class="nav-link">О проекте</a>
                        </li>
                        {% endblock %}
{% block content %}

<div class="content-wrap">
    <!-- Revolution Slider -->
    <section class="p-0">
        <div class="rev_slider_wrapper">
            <div class="rev_slider" id="slider1" data-version="5.0">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-fstransition="fade"
                        data-transition="parallaxtoright"
                        data-easein="default"
                        data-easeout="default"
                        data-slotamount="1"
                        data-masterspeed="1200"
                        data-delay="8000"
                        data-title="The Art of Design"
                    >
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img_main.jpg' %}"
                             alt=""
                             data-bgrepeat="no-repeat"
                             data-bgfit="cover"
                             data-bgparallax="7"
                             class="rev-slidebg"
                        >

                        <!-- COLOR OVERLAY -->
                        <div class="tp-caption tp-shape tp-shapewrapper"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-width="full"
                             data-height="full"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="s:300;s:300;"
                             data-start="200"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-responsive="off"
                             style="z-index: 1; background-color: rgba(0,0,0,.68);">
                        </div>

                        <!-- HERO TITLE -->
                        <div class="tp-caption hero-title rs-parallaxlevel-7"
                             data-x="center"
                             data-y="center"
                             data-voffset="[-30, -30, -60, -80]"
                             data-textAlign="center"
                             data-width="[100%, 100%, 100%, 300px]"
                             data-whitespace="[nowrap, nowrap, nowrap, normal]"
                             data-fontsize="[68, 48, 48, 48]"
                             data-frames='[{
										"delay":300,
										"split":"chars",
										"splitdelay":0.05,
										"speed":1000,
										"split_direction":"forward",
										"frame":"0",
										"from":"x:50px;opacity:0;fb:20px;",
										"ease":"Power3.easeInOut",
										"to":"o:1;fb:0;"
										},{
										"delay":"wait",
										"split":"chars",
										"splitdelay":0.02,
										"speed":900,
										"split_direction":"backward",
										"frame":"999",
										"to":"opacity:0;","ease":"Power3.easeInOut"
									}]'
                        >Система проверки статей
                        </div>

                        <!-- LEARN MORE -->
                        <div class="tp-caption hero-video-play rs-parallaxlevel-7"
                             data-x="center"
                             data-y="center"
                             data-voffset="[60, 60, 20, 30]"
                             data-fontsize="[24]"
                             data-textAlign="center"
                             data-frames='[{
										"delay":1200,
										"speed":1000,
										"frame":"0",
										"from":"o:0;",
										"to":"o:1;","ease":"Power3.easeInOut"
									},{
										"delay":"wait",
										"speed":900,
										"frame":"999",
										"to":"opacity:0;",
										"ease":"Power3.easeInOut"
									}]'
                        >
                            <a href="upload"
                               class="single-video-lightbox" data-effect="mfp-zoom-in">
                                <span class="hero-video-play__text">Загрузить статью</span>
                            </a>
                        </div>

                    </li> <!-- end slide 1 -->
                </ul>


            </div>
        </div>
    </section>

</div> <!-- end content wrap -->

{% endblock %}

{%block script%}

<script type="text/javascript"
        src="{% static 'js/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/revolution.extension.slideanims.min.js' %}"></script>

{%endblock %}