{% extends "nonMainBase.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Ошибка доступа{% endblock %}

{% block nav %}
<li>
    <a href="/" class="nav-link">Главная</a>
</li>
<li>
    <a href="papers" class="nav-link">Статьи</a>
</li>
<li>
    <a href="personal" class="nav-link">Мои статьи</a>
</li>
<li>
    <a href="check" class="nav-link">Проверить</a>
</li>
<li>
    <a href="about" class="nav-link">О проекте</a>
</li>
{% endblock %}

{% block bodyContent %}

<div class="row justify-content-center need-autherification">
    <div class="col-lg-6">
        <div class="title-row text-center">
            <p class="section-description">Этот раздел доступен только авторизованным пользователям</p>
            <a href="login" ><button type="submit" class="btn btn-success"> Войти </button></a>
        </div>
    </div>
</div>

{% endblock %}