{% extends "base.html" %}
{% load static %}


{%block style%}
.bg-pattern,
.bg-pattern.angle:before {
background:url('{% static "img/dark_wall.png" %}');
}
{%endblock %}


{% block navStyle %}
nav__holder nav--sticky nav--align-center sticky offset scrolling
{% endblock %}


{% block content %}
<div class="content-wrap">
    <!-- From Blog -->
    <section class="section-from-blog pb-96 angle angle--top" id="blog">
        <div class="container">
            {% if messages %}
            <div class="row justify-content-center">
                <div class="col-sm-6 col-sm-offset-3">
                    <table align="center" border="0">
                        {% for message in messages %}
                        <tr>
                            <td class="alert">
                                {{ message }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}

            {% block bodyContent %}
            {% endblock %}


        </div>
    </section> <!-- end from blog -->
</div> <!-- end content wrap -->


<!-- Footer -->
<footer class="footer bg-dark bg-pattern" itemtype="http://schema.org/WPFooter" itemscope>
    <div class="container">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="widget widget-about-us">
                        <span class="widget-about-us__text">Контакты</span>
                        <a href="mailto:hello@jueveagency.com" class="widget-about-us__email">aoklyunin@gmail.com</a>
                        <a href="tel:021-5395-6573" class="widget-about-us__phone">+7 921 583 28 98</a>
                    </div>
                </div> <!-- end about us -->

                <div class="col-lg-4 col-md-6">
                    <div class="widget text-center text-md-left">
                        <a href="/check" class="btn btn--lg btn--stroke contact-form-trigger">
                            <span>Проверить статью</span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="widget widget-address">
                        <address class="widget-address__address">Санкт-Петербург</address>
                        <a href="https://goo.gl/maps/RKPrRHF2vBNpU6HV8"
                           class="widget-address__url" target="_self">На карте</a>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end container -->

    <div class="footer__bottom">
        <div class="container">
            <div class="copyright-wrap text-center">
						<span class="copyright">
							&copy; 2019 Jueve, Made by <a href="https://deothemes.com">DeoThemes.</a> All rights reserved.
						</span>
            </div>
        </div>
    </div> <!-- end footer bottom -->
</footer> <!-- end footer -->

<div class="footer-placeholder" id="contact"></div>

{% block modalBlock%}

{% endblock%}

<div id="back-to-top">
    <a href="#top"><i class="ui-arrow-up"></i></a>
</div>


{% endblock %}
