{% extends "base.html" %}
{% load static %}


{%block style%}
.bg-pattern,
.bg-pattern.angle:before {
background:url('{% static "img/dark_wall.png" %}');
}
{%endblock %}


{% block navStyle %}
nav__holder nav--sticky nav--align-center sticky offset scrolling
{% endblock %}


{% block content %}
<div class="content-wrap">
    <!-- From Blog -->
    <section class="section-from-blog pb-96 angle angle--top" id="blog">
        <div class="container">
             {% if messages %}
            <div class="row justify-content-center">
                <div class="col-sm-6 col-sm-offset-3">
                    <table align="center" border="0">
                        {% for message in messages %}
                        <tr>
                            <td class="alert">
                                {{ message }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}

            {% block body_content %}
            {% endblock body_content %}


        </div>
    </section> <!-- end from blog -->
</div> <!-- end content wrap -->


<!-- Footer -->
<footer class="footer bg-dark bg-pattern" itemtype="http://schema.org/WPFooter" itemscope>
    <div class="container">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="widget widget-about-us">
                        <span class="widget-about-us__text">Контакты</span>
                        <a href="mailto:hello@jueveagency.com" class="widget-about-us__email">aoklyunin@gmail.com</a>
                        <a href="tel:021-5395-6573" class="widget-about-us__phone">+7 921 583 28 98</a>
                    </div>
                </div> <!-- end about us -->


                <div class="col-lg-4 col-md-6">

                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="widget widget-address">
                        <address class="widget-address__address">Санкт-Петербург</address>
                        <a href="https://goo.gl/maps/RKPrRHF2vBNpU6HV8"
                           class="widget-address__url" target="_self">На карте</a>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end container -->

    <div class="footer__bottom">
        <div class="container">
            <div class="copyright-wrap text-center">
						<span class="copyright">
							&copy; 2019 Jueve, Made by <a href="https://deothemes.com">DeoThemes.</a> All rights reserved.
						</span>
            </div>
        </div>
    </div> <!-- end footer bottom -->
</footer> <!-- end footer -->

<div class="footer-placeholder" id="contact"></div>

<!-- Contact Form -->
<div class="modal fade contact-form-modal" id="contact-form-modal" role="dialog" aria-label="Contact Form Modal"
     aria-hidden="true">
    <div class="modal-dialog contact-form-modal__dialog" role="document">
        <div class="modal-content contact-form-modal__content">

            <button type="button" class="close contact-form-modal__close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

            <div class="modal-body contact-form-modal__body">
                <form id="contact-form" class="contact-form" action="#">
                    <div class="row row-16">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="name">Name<abbr>*</abbr></label>
                                <input type="text" name="NAME" id="name" required="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="email">Email<abbr>*</abbr></label>
                                <input type="email" name="EMAIL" id="email" required="">
                            </div>
                        </div>
                    </div>

                    <label for="message">Message<abbr>*</abbr></label>
                    <textarea name="MESSAGE" id="message" rows="6"></textarea>
                    <div class="gdpr-checkbox">
                        <label class="gdpr-checkbox__label">
                            <input class="gdpr-checkbox__input" name="AGREE_TO_TERMS" type="checkbox" value="1"
                                   required="">
                            <span class="gdpr-checkbox__text">I agree to storage of my email according to <a href="#"
                                                                                                             target="_blank">Privacy Policy</a>
									</span>
                        </label>
                    </div>
                    <div class="text-center">
                        <input id="contact-form__submit" type="submit" class="btn btn--lg btn--color"
                               value="Send Message">
                    </div>

                    <div id="contact-form__message" class="contact-form__message" role="alert"></div>

                </form>
            </div>
        </div>
    </div>
</div> <!-- end contact form -->


<div id="back-to-top">
    <a href="#top"><i class="ui-arrow-up"></i></a>
</div>


{% endblock %}
