{% extends "nonMainBase.html" %}

{% block title %}Регистрация{% endblock %}
{% load crispy_forms_tags %}
{% block style_block %}
.register_form {
width: 500px;
margin: 0 auto;
}
{% endblock %}

{% block body_content %}
<form method="post" action="" class="register_form">
    {% csrf_token %}
    <br><br>

    {{form.username|as_crispy_field }}
    {{form.password|as_crispy_field }}
    {{form.rep_password|as_crispy_field }}

    {{form.mail|as_crispy_field }}

    <div align="center">
           <button type="submit" class="btn btn-success">Регистрация</button>
    </div>
</form>
{% endblock %}